<div class="c-mobile-nav_container">

  <ul class="c-mobile-nav">
    <li class="c-mobile-nav_list-item">
      <a
        routerLink="/my-account"
        (click)="closeMenuClick()"
      >
        My Account
      </a>
    </li>

  </ul>

  <div class="c-mobile-nav_account-controls" *ngIf="!loggedIn">
    <a
      class="c-mobile-nav_account-signup" routerLink="signup"
      (click)="closeMenuClick()"
    >
      Sign Up
    </a>
    <a
      class="c-mobile-nav_account-login button"
      routerLink="login"
      [queryParams]="{returnUrl: returnUrl}"
      (click)="closeMenuClick()"
    >
      Login
    </a>
  </div>

  <div class="c-mobile-nav_account-controls" *ngIf="loggedIn">
    <a
      class="c-mobile-nav_account-login button"
      routerLink="signup"
      (click)="logout(); closeMenuClick()"
      >
      Sign Out
    </a>
  </div>
</div>

