<section class="c-main-search" [ngClass]="{'container-is-closed': !isOpen}">

  <div class="validation" [ngClass]="{'failed':validationError.length > 0}" *ngIf="validationError.length > 0">
    <div class="validation_container">
      {{ validationError }}
    </div>
  </div>
  <div class="row" [ngClass]="{'failed':validationError.length > 0}">
    <div class="c-main-search_form-container columns small-12" [ngClass]="{ 'is-open': isOpen}">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit(searchForm)">
        <div class="c-main-search_form-inner">
          <div class="c-main-search_input columns medium-5 small-12">
            <app-main-search-input [parentForm]="searchForm"></app-main-search-input>
          </div>

          <div class="c-main-search_select columns medium-4 small-10">
            <app-location-select [parentForm]="searchForm"></app-location-select>
          </div>

          <div class="columns medium-3 small-2">
            <button
              type="submit"
              class="c-main-search_form-submit"
            >
              <img width="25" height="25" alt="Submit Button" src="../../../assets/images/arrow-right-solid.svg"/>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="c-main-search_container">
    <button
      class="c-main-search_toggle"
      (click)="toggleOpen()"
    >
      <img [ngClass]="{'img-rotate': isOpen}"  width="25" height="25" alt="Search Bar Toggle" src="../../../assets/images/chevron-double-down-duotone.svg">
    </button>
  </div>
</section>
