<a routerLink="/business/{{ business.id }}">
  <div class="c-card">
    <img src="{{ business.image_url }}" alt="{{ business.name }} featured logo">
    <div class="c-card_container">
      <div class="c-card_name">
        <span>
          {{ business.name }}
        </span>
      </div>
      <div class="c-card_info">
        <div class="c-card_info-intro">
          <div>
            <span class="c-card_miles">{{ business.miles }} miles - </span>
            <span class="c-card_price"> {{ business.price }}</span>
          </div>
          <div class="c-card_rating">
            <star-rating value="{{ business.rating }}" checkedcolor="#FEC011" uncheckedcolor="#e7e2e2" size="24px"  readonly="true"></star-rating>
            <span class="c-card_review-count">({{ business.review_count}})</span>
          </div>
        </div>
        <div class="c-card_address">
          <span class="c-card_location" [innerHTML]="business.address.join('<br />')"></span>
          <span class="c-card_categories">
            <ul class="c-card_category">
              <li class="c-card_category" *ngFor="let category of business.categories">{{ category.title }}</li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</a>
