<div class="c-search-placeholder">
  <div class="c-search-placeholder"></div>
  <div class="c-search-placeholder_container">
    <div class="c-search-placeholder_name">
      <span>

      </span>
    </div>
    <div class="c-search-placeholder_info">
      <div class="c-search-placeholder_info-intro">
        <div>
          <span class="c-search-placeholder_price"></span>
        </div>
        <div class="c-search-placeholder_rating">
          <span class="c-search-placeholder_review-count"></span>
        </div>
      </div>
      <div class="c-search-placeholder_address">
        <span class="c-search-placeholder_location"></span>
        <span class="c-search-placeholder_categories">
          <ul class="c-search-placeholder_category">

          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
