@import '../../../styles/variables';
.c-login {

  &-container {
    max-width: 480px;
    margin: 0 auto;
    padding-top: 5em;

    @media (max-width: 768px) {
      padding: 3em 20px 0 20px;
    }

  }

  input {
    margin-bottom: .5em;
  }

  .btn.hollow {

    margin-left: 1em;

    a {
    color: $primary;
    }
  }

  .invalid-feedback {
    color: $primary;
    padding-bottom: .5em;
  }

  .is-invalid {
    outline: none;
    border: 1px solid $primary;
    background-color: #fefefe;
    box-shadow: 0 0 5px $primary;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  }

}
