<div class="row c-login">
  <div class="columns small-12">
    <div class="c-login-container">
      <app-alert [hidden]="!alertType" [alertText]="alertText" [alertType]="alertType"></app-alert>
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="emailAddress">Email Address</label>
              <input type="text" formControlName="emailAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailAddress.errors }" />
              <div *ngIf="submitted && f.emailAddress.errors" class="invalid-feedback">
                  <div *ngIf="f.emailAddress.errors.required">*** Email Address is required ***</div>
                  <div *ngIf="f.emailAddress.errors.email">*** Please enter a valid email address ***</div>
              </div>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback password">
                  <div *ngIf="f.password.errors.required">*** Password is required ***</div>
              </div>
          </div>
          <div class="form-group buttons">
              <button class="btn btn-primary alt">
                  Login
              </button>
              <button type="button" routerLink="/signup" class="btn hollow">
                Register
              </button>
          </div>
      </form>
    </div>
  </div>
</div>
