<div class="c-review-list" [ngClass]="{'user-account': reviewType !== 'business'}">
  <div class="col-xs-12 c-review-list_container">
    <h2 class="c-review-list_header">Reviews</h2>
    <ng-template [ngIf]="formattedReviews.length > 0" [ngIfElse]="reviewPlaceholders">
      <div
        class="c-reviews-list_review"
        *ngFor="let review of formattedReviews  | paginate: { itemsPerPage: 5, currentPage: p, id: 'reviews_pagination' }"
      >
        <app-review [review]="review"></app-review>
      </div>
      <ng-template #reviewPlaceholders>
        <ng-template #reviewPlaceholders >
          <ng-template [ngIf]="reviewType === 'business'" [ngIfElse]="userReviews">
            <app-review-placeholder *ngFor="let item of placeholderArray"></app-review-placeholder>
          </ng-template>
          <ng-template #userReviews>
            <h4>You don't have any reviews yet! Try searching in the bar above to get started!</h4>
          </ng-template>
        </ng-template>
      </ng-template>

    </ng-template>
    <pagination-controls
      *ngIf="formattedReviews.length >= 5"
      id="reviews_pagination"
      class="c-review-list_pagination"
      (pageChange)="pageChanged($event)"
      directionLinks="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next"
      screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
    <div class="c-reviews-list_input" *ngIf="reviewType === 'business'">
      <app-review-input (newReview)="addReview($event)"></app-review-input>
    </div>
  </div>
</div>
