@import '../../../../styles/variables';

.c-review-list {

  padding: 2rem 0;

  &.user-account {
    padding: 0;
  }

  &_container {
    margin: 0 auto;
    max-width: 768px;

    // @media screen and (max-width: 768px) {
    //   padding: 0 1rem;
    // }
  }

  &_header {
    color: $primary;
    margin-bottom: 1.25rem;
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
      margin-bottom: .75rem;
      text-align: center;
    }
  }

  &_pagination {
    margin: 0 auto;

    &::ng-deep {

      .ngx-pagination {
        color: red;
        text-align: center;

        .current {
          color: #ffffff;
          background-color: $primary;
        }

      }
    }
  }
}

::ng-deep {
  ngx-smart-modal {
    .modal-header {
      color: $primary;
    }
    .nsm-dialog-btn-close {
      padding: .5em;
    }
  }
}
