@import '../../../styles/variables';

.c-user-card {

  background-color: #ffffff;
  border-color: transparent;
  border-radius: 8px;
  border-width: 0 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px !important;
  max-width: 480px;
  padding-bottom: 0;
  padding: 5rem 2rem 2rem;
  position: relative;
  transition: all .3s ease-in-out;
  width: 100%;

  @media screen and (max-width: 786px) {
    max-width: 100%;
  }

  &_photo {

    height: 155px;
    left: 50%;
    position: absolute;
    top: -90px;
    transform: translateX(-50%);
    width: 155px;

    img {
      border-color: transparent;
      border-radius: 100%;
      border-width: 0 5px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 8px !important;
      width: 100%;
    }

  }

  &_info {
    color: $primary;

    &-container {

      &:not(:last-of-type) {
        padding-bottom: 1rem;
      }

      position: relative;

      &:not(:last-of-type):after {
        background-color: #d7d5d5;
        bottom: -15px;
        content: '';
        display: block;
        height: .75px;
        left: 50%;
        width: 100%;
      }
    }

    &-label {

      display: inline-block;
      padding-bottom: .5rem;

      h4 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0;
      }
    }

    &-data {
      display: inline-block;
      font-size: 1.2rem;
      width: 100%;
    }

    &-edit {

      cursor: pointer;
      float: right;
      height: 20px;
      width: 20px;

    }
  }

  button[disabled] {
    background-color: #d7d5d5;
  }
}

