<div class="c-user-card">
  <div class="c-user-card_photo">
    <img src="../../../assets/images/user-placeholder-big.png">
  </div>
  <div class="c-user-card_info">
    <div class="row">
      <div class="columns small-12 c-user-card_info-container"  *ngIf="user">
        <div class="c-user-card_info-label">
          <h4>Name</h4>
        </div>
        <div class="c-user-card_info-data">
          {{ user.first_name + ' ' + user.last_name }}
          <img class="c-user-card_info-edit" (click)="openModal('name')" src="assets/images/edit-regular.svg" />
        </div>
      </div>
      <div class="columns small-12 c-user-card_info-container" *ngIf="user?.created_date">
        <div class="c-user-card_info-label">
         <h4>Join Date</h4>
        </div>
        <div class="c-user-card_info-data">
          {{ user.created_date | date }}
        </div>
      </div>
      <div class="columns small-12 c-user-card_info-container" *ngIf="user?.email">
        <div class="c-user-card_info-label">
          <h4>Email</h4>
        </div>
        <div class="c-user-card_info-data">
          {{ user.email }}
          <img class="c-user-card_info-edit" (click)="openModal('email')" src="assets/images/edit-regular.svg" />
        </div>
      </div>
      <div class="columns small-12 c-user-card_info-container" *ngIf="user?.birth_date">
        <div class="c-user-card_info-label">
          <h4>Birth Date</h4>
        </div>
        <div class="c-user-card_info-data">
          {{ user?.birth_date |date }}
        </div>
      </div>
      <div class="columns small-12 c-user-card_info-container"  *ngIf="user?.numReviews">
        <div class="c-user-card_info-label">
          <h4># of Reviews</h4>
        </div>
        <div class="c-user-card_info-data">
          {{ user?.numReviews }}
        </div>
      </div>

    </div>

  </div>
</div>
<ngx-smart-modal #myModal identifier="myModal" (onClose)="clearMessages()" (onDismiss)="clearMessages()">
  <h2 class="modal-header">Edit Information</h2>
  <app-alert [alertType]="alertType" [alertText]="alertText"></app-alert>
  <form [formGroup]="infoForm" (ngSubmit)="modalSubmit()">

    <div class="form-group" *ngIf="infoForm?.controls['first_name'];else emailBlock">
      <div *ngIf="infoForm.invalid && (infoForm.touched || infoForm.dirty)">
        <app-alert [alertType]="fail" [alertText]="'Name fields are required'"></app-alert>
      </div>
      <label for="first_name">First Name</label>
      <input
        formControlName="first_name"
        required
        name="first_name"
        id="first_name"
        type="text"
      />
      <label for="last_name">Last Name</label>
      <input
        formControlName="last_name"
        required
        id="last_name"
        name="last_name"
        type="text"
      />
    </div>
    <ng-template #emailBlock>
      <div class="form-group" *ngIf="infoForm?.controls['email']">
        <div *ngIf="infoForm.invalid && (infoForm.touched || infoForm.dirty)">
          <app-alert
            *ngIf="infoForm?.controls['email'].errors.required"
            [alertType]="'fail'"
            [alertText]="'Email fields are required'"
          ></app-alert>
          <app-alert
          *ngIf="infoForm?.controls['email'].errors.email"
          [alertType]="fail"
          [alertText]="'Please use a valid email format'"
        ></app-alert>
        </div>
        <label for="email">Email Address</label>
        <input
          formControlName="email"
          id="email"
          name="email"
          type="email"
        />
      </div>
    </ng-template>

    <button class="button alt" type="submit" [disabled]="!infoForm.valid || infoForm.pristine">
      Submit
    </button>
  </form>

</ngx-smart-modal>
