body {
  background-color: #f5f5f5;
  padding-bottom: 3rem;
}

body, html {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

button.primary {
  margin: 0;
  padding: .75em 1em;
  color: $primary;
  background-color: $white;
  border-radius: 6px;
}

button.alt {
  margin: 0;
  padding: .75em 1em;
  color: $white;
  background-color: $primary;
  border-radius: 6px;
}

button.hollow {
  margin: 0;
  padding: .75em 1em;
  color: $primary;
  background-color: transparent;
  border: 1px solid $primary;
  border-radius: 6px;
}

button.button[disabled] {
  background-color: $primary;
}

button.button[disabled]:hover {
  background-color: $primary;
}

button.button:hover {
  background-color: darken($primary, 5%);
}
