@import '../../../styles/variables';
.v-single{

  &_header {
    color: $primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em 0 1em 0;

    h1 {
      font-size: 2rem;
      margin-bottom: 0;
      padding-right: .5em;
    }
  }

  &_review-count {
    font-size: .75em;
    color: #7a7777b0;
  }

  &_img-container {
    width: 55%;
    margin: 3em auto 0 auto;

  }

  &_main {
    padding-left: 6rem;
  }

  &_open {
    color: $primary;

    &.is_open {
      color: green;
    }
  }


}
