<section class="v-single" *ngIf="business">
  <div class="row">
    <div class="columns small-12">
      <div class="v-single_header">
        <h1>{{ business. name }}</h1>
      </div>
      <img src="{{ business.image_url }}"/>
      <div class="v-single_gallery">
        <slideshow
          [imageUrls]="imgArray"
          [height]="height"
          [minHeight]="'525px'"
          [autoPlay]="true"
          [showArrows]="false"
          ></slideshow>
      </div>
    </div>
  </div>
</section>
