<header class="c-header">

  <div class="container-fluid">
    <div class="row">
      <div class="columns small-12 c-header_inner">
        <img class="c-header_logo" src='../../assets/images/header-logo.png'>
        <nav>
          <ul class="c-header_list">
            <li class="c-header_list-item">Restaurants</li>
            <li class="c-header_list-item">Hotels</li>
            <li class="c-header_list-item">My Account</li>
          </ul>
        </nav>
      </div>
    </div>

  </div>


</header>

