<header class="c-header">

  <div class="container-fluid">
    <div class="row">
      <div class="columns small-12 c-header_inner">
        <img class="c-header_logo" src='../../assets/images/header-logo.png'>
        <nav>
          <ul class="c-header_list">
            <li class="c-header_list-item"><a>Restaurants</a></li>
            <li class="c-header_list-item"><a>Hotels</a></li>
            <li class="c-header_list-item"><a>Things To Do</a></li>
            <li class="c-header_list-item"><a>Home Services</a></li>
          </ul>
        </nav>
      </div>
    </div>

  </div>


</header>

