<header class="c-header">

  <div class="container-fluid">
    <div class="row">
      <div class="columns small-12 c-header_inner">
        <img class="c-header_logo" src='../../assets/images/header-logo.png'>
        <div class='c-header_controls'>
          <nav>
            <ul class="c-header_list" *ngIf="!mobileSize">
              <li class="c-header_list-item"><a>Restaurants</a></li>
              <li class="c-header_list-item"><a>Hotels</a></li>
              <li class="c-header_list-item"><a>Things To Do</a></li>
              <li class="c-header_list-item"><a>Home Services</a></li>
            </ul>
          </nav>

          <div class="c-header_account-controls">
            <a class="c-header_account-signup">
              Sign Up
            </a>
            <a class="c-header_account-login button">
                Login
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>


</header>

