<div class="c-review">
  <div class="c-review_inner">
    <div class="c-review_image-container">
      <a routerLink="/user/:id">
        <img class="c-review_image" [src]="'../../../../assets/images/user-placeholder.png'">
      </a>
      <div class="c-review_user-name placeholder">

      </div>
    </div>
    <div class="c-review_body">
      <star-rating value="0" checkedcolor="#FEC011" uncheckedcolor="#e7e2e2" size="24px"  readonly="true"></star-rating>
      <span class="date placeholder"></span>
      <div class="c-review_text placeholder">


      </div>
      <div class="c-review_text placeholder">


      </div>
      <div class="c-review_text placeholder">


      </div>
    </div>
  </div>
</div>
