@import '../../../styles/variables';

.c-header {
  background-color: $primary;
  padding: .2em;
  width: 100;

  &_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .5em;

    @media screen and (max-width: $xlarge) {
      padding-left: 1em;
      padding-right: 1em;
    }

    @media screen and (max-width: $medium) {
      padding-bottom: 0;

    }


  }

  &_logo {
    max-height: 60px;

    @media screen and (max-width: $medium) {
      max-height: 50px;
    }
  }

  &_controls {
    padding-top: .7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 800px) {
      display: block;
      justify-content: unset;
    }
  }

  &_list {

    margin: 0;

    li {
      display:inline-block;
      padding: .85em;
      padding-bottom: .5em;

      @media screen and (max-width: $large) {
        font-size: .8em;
        padding: .45em;
      }

       a {
        color: $white;
      }
    }
  }

  &_account {

    &-controls {

      margin: 0;
      margin-left: auto;

      a {
        margin:0 .5em;

        @media screen and (max-width: $large) {
          font-size: .8em;
          padding: .45em;
        }

        @media screen and (max-width: 800px) {
          margin:0;
        }
      }

    }

    &-button {
      color: $white;
      display: inline-block;
      padding: 0.85em;
      padding-bottom: 0.5em;
    }

    &-login {
      margin: 0;
      padding: .25 1em;
      color: $primary;
      background-color: $white;
      border-radius: 6px;
    }

    &-signup {
      color: $white;
    }
  }

  &_mobile {

    &-controls {

      img {
        max-width: 20px;
        width: 100%;
      }
    }

    &-button {
      cursor: pointer;
    }
  }
}
