<header class="c-header">

  <div class="container-fluid">
    <div class="row">
      <div class="columns small-12 c-header_inner">
        <div class=" columns small-3">
          <a href="https://www.yelp.com"><img class="c-header_logo" src='../../assets/images/header-logo.png'></a>
        </div>
        <div class="c-header_controls columns small-9" *ngIf="!display">
          <div >
            <nav >
              <ul class="c-header_list">
                <li class="c-header_list-item" routerLink="/restaurants"><a>Restaurants</a></li>
                <li class="c-header_list-item" routerLink="/hotels"><a>Hotels</a></li>
                <li class="c-header_list-item" routerLink="/things-to-do"><a>Things To Do</a></li>
                <li class="c-header_list-item" routerLink="/home-services"><a>Home Services</a></li>
              </ul>
            </nav>
          </div>

          <div class="c-header_account-controls" *ngIf="!loggedIn">
            <a class="c-header_account-signup" routerLink="signup">
              Sign Up
            </a>
            <a
              class="c-header_account-login button"
              routerLink="login"
              [queryParams]="{returnUrl: returnUrl}"
            >
              Login
            </a>
          </div>

          <div class="c-header_account-controls" *ngIf="loggedIn">
            <a class="c-header_account-button" routerLink="my-account">
              My Account
            </a>
            <a
              class="c-header_account-signup"
              routerLink="signup"
              (click)="logout()">
              Sign Out
            </a>
          </div>
        </div>
          <div class="c-header_mobile-controls" *ngIf="display">
            <button
              class="c-header_mobile-button"
              (click)="toggleSlideMenu($event)"
            >
              <img src="../../assets/images/bars-solid.svg">
            </button>
          </div>
        </div>
    </div>

  </div>
</header>

