<header class="c-header">

  <div class="container-fluid">
    <div class="row">
      <div class="columns small-12 c-header_inner">
        <div class=" columns small-3">
          <a href="https://www.yelp.com"><img class="c-header_logo" src='../../assets/images/header-logo.png'></a>
        </div>
        <div class="c-header_controls columns small-9" *ngIf="!display">

          <div class="c-header_account-controls" *ngIf="!loggedIn">
            <a class="c-header_account-signup" routerLink="signup">
              Sign Up
            </a>
            <a
              class="c-header_account-login button"
              routerLink="login"
              [queryParams]="{returnUrl: returnUrl}"
            >
              Login
            </a>
          </div>

          <div class="c-header_account-controls" *ngIf="loggedIn">
            <a class="c-header_account-button" routerLink="my-account">
              My Account
            </a>
            <a
              class="c-header_account-signup"
              routerLink="signup"
              (click)="logout()">
              Sign Out
            </a>
          </div>
        </div>
          <div class="c-header_mobile-controls" *ngIf="display">
            <button
              class="c-header_mobile-button"
              (click)="toggleSlideMenu($event)"
            >
              <img src="../../assets/images/bars-solid.svg">
            </button>
          </div>
        </div>
    </div>

  </div>
</header>

