@import '../../../styles/variables';

.v-account {

  padding: 3rem 0;

  &_container {
    margin: 0 auto;

    h1 {
      color: $primary;
      font-weight: bold;
      padding-bottom: 7rem;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }
}
