@import '../../../styles/variables';
.v-search {

  &_header {
    padding: 2em 0;

    h1 {
      color: $primary;
      font-size: 2em;
    }
  }

  &_card {
     padding-bottom: 2em;
  }

  &_spinner_container {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 10em;
    flex-direction: column;
  }

  &_pagination {
    margin: 0 auto;

    &::ng-deep {

      .ngx-pagination {
        color: red;
        text-align: center;

        .current {
          color: #ffffff;
          background-color: $primary;
        }

      }
    }
  }
}
