<div class="c-review">
  <div class="c-review_inner">
    <div class="c-review_image-container">
      <img class="c-review_image" appGravatar [email]="review?.user?.email" [size]="200" [defaultSrc]="review?.user.image_url">
      <div class="c-review_user-name">
        {{ review.user.name}}
      </div>
    </div>
    <div class="c-review_body">
      <star-rating value=" {{review.rating}}" checkedcolor="#FEC011" uncheckedcolor="#e7e2e2" size="24px"  readonly="true"></star-rating>
      <span>{{ review.time_created | date }}</span>
      <div class="c-review_text">
        <ng-template [ngIf]="review.text" [ngIfElse]="user_review">
          {{ review.text }}
        </ng-template>
        <ng-template #user_review>
          {{ review.review_text }}
        </ng-template>
      </div>
    </div>
  </div>
</div>
