.c-review {

  background: #ffffff;
  border: 1px solid #cac5c5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 3px !important;
  border-radius: 6px;
  margin-bottom: 2rem;
  padding: .5rem;
  padding-left: 0;

  &_inner {
    display: flex;
    flex-direction: row;
  }

  &_image {
    border-radius: 3px;
    max-height: 75px;
    max-width: 75px;
    margin-bottom: .25rem;
    object-fit: cover;
    vertical-align: middle;
    width: 100%;

    &-container {
      min-width: 125px;
      padding: .5rem 1rem;
      padding-left: 0;
      text-align: center;
      width:  125px;
    }
  }

  &_text {
    padding-right: 1rem;
  }

  ::ng-deep {
    star-rating > div {
      display: inline;
      margin-right: 1rem;
    }
  }
}
