@import '../../../../styles/variables';

.c-search {

  &_container {
    display: flex;
    align-items: center;
  }

  img {
    cursor: pointer;
    max-width: 20px;
    width: 100%;
    display: inline-block;
    margin-right: 1em;
  }

  &_input {
    width: 0%;
    margin-bottom: 0;
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid $white;
    padding: 0;
    transition: all .75s ease-in-out;
    color: $white;

    &::placeholder {
      color: white;
      opacity: .5;
    }
  }

  &_input-open {
    width: 100%;
  }
}
