<app-hero-image [imageUrl]="'../../../assets/images/food-background.jpg'"></app-hero-image>
<div class="l-content-container">
  <div class="row">
    <div class="columns small-12">
      <app-content-row
        headline="Find places near you"
        content="You don't have to go far to find places you'll never forget. Find the best restaurants to hang out and stuff your face. Check out these places near you!"
      >
      </app-content-row>
      <app-rand-nearby></app-rand-nearby>
      <app-tabs-section></app-tabs-section>

    </div>
  </div>
</div>
