<section class=" c-hero-image" [ngStyle]="{ 'backgroundImage': 'url(' + imageUrl + ')' }">
<div class="c-hero-image_overlay"></div>

<div class="row">
  <div class="columns small-12 c-hero-image_container">
    <div class="c-hero-image_text-container">
      <div class="c-hero-image_text">
        <h4>Rate</h4>
        <span>
           <h1>New Favorites</h1>
           <button class="button c-hero-image_button">
              Sign Up
            </button>
          </span>
          <h4 class="offset">Find</h4>
          <span>
            <h2 class="offset">New Adventures</h2>
            <button class="button c-hero-image_button">
              Near Me
            </button>
          </span>
      </div>
    </div>
  </div>
</div>
</section>
