.c-hero-image {
  height: 75vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.c-hero-image .row {
  height: 100%;
}
.c-hero-image_container {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 150px;
}
.c-hero-image_overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.15;
  background-color: #000000;
}
.c-hero-image_text {
  color: #fefefe;
  text-align: left;
  position: relative;
}
.c-hero-image_text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
}
.c-hero-image_text h1 {
  color: #fefefe;
  display: inline-block;
  font-size: 3.5em;
  line-height: 1;
  margin-bottom: 0.5em;
}
.c-hero-image_text h4 {
  color: #fefefe;
  margin-bottom: 0;
  line-height: 1;
  font-weight: bold;
}
.c-hero-image_text h2 {
  display: inline;
  line-height: 1;
  font-size: 3.5em;
  margin-bottom: 0;
}
.c-hero-image .offset {
  padding-left: 1rem;
}
.c-hero-image_button {
  display: inline;
  background: #d32323;
  line-height: 49px;
  font-weight: bold;
  float: right;
  border-radius: 8px;
  padding: 0 15px;
  margin-left: 4rem;
}
.c-hero-image_button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}