@import './../../../../styles/variables';

.c-tab {

  display: inline-block;
  list-style: none;
  padding: 1.5em;
  text-align: center;
  width: 100%;
  padding-bottom: 1em;

  svg {
    height: 55px;
    width: 55px;
    max-width: 55px;
    padding-bottom: 1rem;
  }

  a {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: $black;
    font-size: 1.25rem;
  }

}

.is-active {
  color: $primary !important;

  img {
    fill: $primary !important;
  }

  border-bottom: 1px solid $primary;
}

:host {
  width: auto;
  flex-basis: 25%;
}
