<section class=" c-hero-image" [ngStyle]="{ 'backgroundImage': 'url(' + imageUrl + ')' }">
<div class="c-hero-image_overlay"></div>

<div class="row">
  <div class="columns small-12 c-hero-image_container">
    <div class="c-hero-image_text-container">
      <div class="c-hero-image_text">
        <h1>Don't Know Where To Go?</h1>
        <h4>Yelpers finds the Best For You</h4>
        <button class="c-hero-image_button">
          <a routerLink="/signup" *ngIf="!signedIn">
            Sign Up Today!
          </a>
        </button>
      </div>
    </div>
  </div>
</div>
</section>
