// Custom Colors

$dark-gray: #242424;
$medium-dark-gray: #616161;
$medium-gray: #525252;
$medium-light-gray: #BCC6CE;
$light-gray: #E8E8E8;
$white: #fefefe;
$blue: #0053AC;
$dark-blue: #51708D;

$primary: #d32323;
$secondary: #0058A8;
$yellow: #FFC236;
$orange: #FF952B;

// App Variables
$container-max-width: 1200px;
$sidebar-bg: $dark-gray;
$sidebar-width: 250px;

// Bootstrap Variables

// Layout

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$medium: 768px;
$large: 992px;
$xlarge: 1200px;

$body-bg: $light-gray;

// Typography
$font-size-base: 1rem;

$h1-font-size: $font-size-base * 1.625; // 26
$h2-font-size: $font-size-base * 1.375; // 23
$h3-font-size: $font-size-base * 1.25; // 20
$h4-font-size: $font-size-base * 1.125;  // 18
$h5-font-size: $font-size-base * 1.0625; // 17
$h6-font-size: $font-size-base;


// Global Styles

$border-radius: 0px;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;

// Forms
$custom-control-indicator-bg: $white;

// Badges
$badge-padding-y: .5em;
$badge-padding-x: .8em;
$badge-pill-padding-x: 1.2em;
